<footer>
  <div class="container">
    <div class="copyright_year ">© 2015 </div>
    <div class="copyright "> Единый информационный портал о научной-исследоватльской деятельности и олимпиадном движении</div>
    <div class="footer_links "><a href="/faq.html">Вопросы и ответы</a><a href="/contact.html">Контакты</a><a data-reveal-id="myModal" href="#">Войти в личный кабинет</a></div>
  </div>
</footer>