<%= render 'shared/header' %>

<div class="container">
    <div class="breadcrumbs "> <a href="/">Главная</a> / <span>Анкетирование</span></div>
</div>


<div class="container">

    <h1>Изучение чувствительности к цене</h1>
    <div class="thanks">
        <p><img src="/images/thanks.png"></p>
        <p>Благодарим Вас за честные ответы и потраченное время! Мы обязательнео учтем Ваше мнение!</p>

        <div class="thanks_link">
            <a class="stats" href="#">Посмотреть статистику</a>
            <a class="back" href="#">Вернуться в раздел</a>
        </div>
    </div>

</div>

<%= render 'shared/footer' %>
<%= render 'shared/login_popup' %>